@import "libs.sass"
@import "variables.sass"
@import "fonts.sass"


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden 
	position: absolute

	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0

	white-space: nowrap

	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden


img 
	max-width: 100%
	height: auto

*, *::before, *::after 
	box-sizing: inherit



html 
	box-sizing: border-box;

body
	margin: 0
	padding: 0

	font-size: 14px
	line-height: 21px
	font-family: "PTSans", serif
	color: $text-color
	text-transform: uppercase
	background-color: #f2f2f2

.button
	display: block
	color: #fff
	line-height: 26px
	text-align: center
	vertical-align: middle
	font: inherit
	font-size: 21px
	padding: 
		left: 30px
		right: 30px
		top: 16px
		bottom: 16px
	background-color: $active-color
	font-weight: 700
	cursor: pointer
	transition: all 0.15s ease

.button:hover, .button:focus
	background-color: #669ec0
	color: #fff
	text-decoration: none

.button:active
	background-color: #5496bd
	color: rgba(255, 255, 255, 0.3)

.button:disabled
	color: #ffffff
	background-color: #e5e5e5


//==========================================

.main-container
	margin:
		left: auto
		right: auto
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2)
	@include media-breakpoint-up(xl)
		width: 1200px	
	 

.main-header
	position: relative	
	&__big-logo
		width: 280px
		@include media-breakpoint-up(md)
			width: 460px
		margin: 
			left: auto
			right: auto
	&__background
		height: 389px
		padding: 
			top: 90px
		
		@include media-breakpoint-up(md)
			height: 517px
			padding: 
				top: 77px
			margin-top: -27px
		@include media-breakpoint-up(xl)
			margin-top: -40px

		background-image: url("../img/svg/whiteline.svg"), url("../img/index/background2.jpg")
		background-position: center bottom, center -35px
		background-repeat: no-repeat, no-repeat
		@include media-breakpoint-up(md)
			background-position: center 461px, center center

.main-nav
	position: absolute
	width: 100%
	background-color: #fff
	padding:
		bottom: 56px
	@include media-breakpoint-up(md)
		background-color: transparent
		background-image: linear-gradient(to top, transparent 27px, #fff 27px)
		position: relative
		padding: 
			bottom: 0
	@include media-breakpoint-up(xl)
		background-image: linear-gradient(to top, transparent 40px, #fff 40px)
	&__button-close
		@include media-breakpoint-up(md)
			display: none
		outline: none
		position: absolute
		top: 17px
		right: 20px
		width: 23px
		height: 23px
		border: none
		padding: 0
		margin: 0
		background-color: transparent
		cursor: pointer
		svg
			fill: #fff
	&__button-open
		outline: none	
		position: absolute
		width: 23px
		height: 21px
		bottom: 18px
		right: 20px
		border: none
		padding: 0
		margin: 0
		background-color: transparent
		cursor: pointer
		@include media-breakpoint-up(md)
			display: none
		svg
			fill: $active-color
	&__list
		list-style: none
		padding: 0
		margin: 0
		display: flex
		flex-direction: column
		@include media-breakpoint-up(md)
			flex-direction: row
			justify-content: space-around
	&__element
		text-transform: uppercase
		font-weight: 700
		a
			text-align: center
			display: block
			padding: 
				top: 8px
				bottom: 8px
			font-size: 18px
			line-height: 40px
			color: #fff
			transition: all 0.15s ease
			border-bottom: 1px solid #678fa8
			border-top: 1px solid #9ac2db
			background-color: $active-color
			@include media-breakpoint-up(md)
				color: #000000
				font-size: 14px
				line-height: 26px
				background: none
				border: none
				padding: 
					top: 15px
					bottom: 15px
					left: 20px
					right: 20px
				margin: 
					left: 20px
			&:hover, &:focus
				text-decoration: none
				background-color: #669ec0
				@include media-breakpoint-up(md)
					background: none
					color: $active-color
			&:active
				background-color: #5496bd
				color: rgba(255, 255, 255, 0.3)
				@include media-breakpoint-up(md)
					color: rgba(0, 0, 0, 0.3)
					background: none
					
	&__logo-wrapper
		position: absolute
		left: 50%
		bottom: -27px
		margin-left: -51px
		width: 102px
		height: 83px
		@include media-breakpoint-up(md)
			position: static
			margin: 
				left: 45px
			width: 101px
			height: 83px
		@include media-breakpoint-up(xl)
			width: 190px
			height: 97px
	
.menu-close
	display: none
	@include media-breakpoint-up(md)
		display: flex

.menu-open
	display: flex

.none
	display: none

.main-page
	background-color: #fff
	padding: 
		top: 40px
	@include media-breakpoint-up(md)
		padding: 
			top: 54px
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		text-align: center
		width: 260px
		margin: 
			left: auto
			right: auto
			bottom: 32px
		@include media-breakpoint-up(md)
			font-size: 21px
			width: 450px
	&__description
		text-align: center
		line-height: 26px
		width: 260px
		margin: 
			left: auto
			right: auto
			bottom: 10px
		@include media-breakpoint-up(md)
			width: 510px
	&__top-wrapper
		padding: 
			bottom: 36px
		background-image: url("../img/svg/blueline.svg")
		background-position: center bottom
		background-repeat: no-repeat
		@include media-breakpoint-up(md)
			background: none

.advantages
	padding: 0	
	&__photo
		height: 262px
		background-image: url("../img/index/background-1-tablet.jpg")
		background-size: cover	
		background-position: center center
		background-repeat: no-repeat
		margin:
			bottom: 22px
		@include media-breakpoint-up(md)
			margin: 
				bottom: 0
		@include media-breakpoint-up(xl)
			background-image: url("../img/index/background1.jpg")
		&-mountins
			background-image: url("../img/index/background-3-tablet.jpg")
			background-size: cover	
			background-repeat: no-repeat
			margin:
				bottom: 0
			@include media-breakpoint-up(xl)
			background-image: url("../img/index/background3.jpg")
	&__example
		margin: 
			bottom: 25px
		@include media-breakpoint-up(md)
			margin: 
				top: 57px
				bottom: 49px
		@include media-breakpoint-up(xl)
			margin: 
				top: 57px
				bottom: 65px
		&-title
			padding: 
				top: 7px
				bottom: 8px
				left: 50px
			color: #000
			font-size: 21px
			width: 280px
			margin: 
				left: auto
				right: auto
				bottom: 16px
			@include media-breakpoint-up(md)
				padding: 
					top: 106px
					left: 0
					bottom: 0
				margin: 
					bottom: 26px
				width: 140px
				text-align: center
				line-height: 26px
		&-description
			padding: 
				left: 50px
			width: 280px
			margin: 
				left: auto
				right: auto
			@include media-breakpoint-up(md)
				text-align: center
				width: 162px
				padding: 
					left: 0
			@include media-breakpoint-up(xl)
				width: 290px
			
		&_home
			background-size: 38px, 37px
			background-image: url("../img/svg/home.svg")
			background-repeat: no-repeat
			@include media-breakpoint-up(md)
				background-position: top, center
				background-size: 75px, 72px
		&_food
			background-size: 32px, 38px
			background-image: url(../img/svg/burger.svg)
			background-repeat: no-repeat
			@include media-breakpoint-up(md)
				background-position: top, center
				background-size: 77px, 68px
		&_gift
			padding: 
				top: 14px
				bottom: 7px
			background-size: 35px, 38px
			background-image: url("../img/svg/gift.svg")
			background-repeat: no-repeat
			@include media-breakpoint-up(md)
				background-position: top, center
				padding: 
					top: 106px
					left: 0
					bottom: 0
				background-size: 64px, 75px

			
.town
	color: #fff
	background-color: $active-color
	padding: 
		top: 22px
		bottom: 35px
	@include media-breakpoint-up(md)
		padding: 
			top: 48px
			bottom: 28px
	.br-desktop
		display: none
		@include media-breakpoint-up(md)
			display: block

	&__title
		font-size: 18px
		line-height: 26px
		text-align: center
		width: 280px
		margin: 
			left: auto
			right: auto
			bottom: 11px
		@include media-breakpoint-up(md)
			font-size: 21px
			width: 160px
	&__number
		text-align: center
		margin: 
			bottom: 20px
	&__description
		text-align: center
		width: 280px
		margin: 
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			width: 170px
		@include media-breakpoint-up(xl)
			width: 277px
	&__description_bridge
		width: 280px
		@include media-breakpoint-up(md)
			width: 160px
		@include media-breakpoint-up(xl)
			width: 220px

.advantages__pluses
	background-color: #eee
	&-title
		font-size: 21px
		line-height: 26px
		text-align: center
		width: 280px
		margin: 
			top: 30px
			left: auto
			right: auto
			bottom: 10px
		@include media-breakpoint-up(md)
			width: 122px
			margin: 
				top: 48px
	&-number
		text-align: center
		margin: 
			bottom: 25px
	&-description
		width: 255px
		text-align: center
		margin: 
			left: auto
			right: auto
			bottom: 29px
		@include media-breakpoint-up(md)
			width: 170px
			margin: 
				bottom: 43px
		@include media-breakpoint-up(xl)
			width: 300px
			margin: 
				bottom: 65px
	&-description-wide
		width: 250px
		@include media-breakpoint-up(md)
			width: 150px
		@include media-breakpoint-up(xl)
			width: 270px
	&-line
		height: 1px
		border-bottom: 1px solid #d6d6d6
		width: 280px
		margin: 
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			display: none

.search
	padding: 
		top: 32px
	@include media-breakpoint-up(md)
		padding: 
			top: 60px
	&__title
		display: block
		text-align: center
		width: 280px
		color: #000
		font-size: 21px
		line-height: 26px
		margin: 
			left: auto
			right: auto
			bottom: 25px
		@include media-breakpoint-up(md)
			font-size: 30px
			width: 320px
	&__description
		line-height: 24px
		width: 280px
		text-align: center
		margin: 
			left: auto
			right: auto
			bottom: 38px
		@include media-breakpoint-up(md)
			width: 462px
			margin: 
				bottom: 43px
		@include media-breakpoint-up(xl)
			margin: 
				bottom: 50px
	.br-desktop
		display: none
		@include media-breakpoint-up(md)
			display: block
	&__button
		width: 280px
		margin: 
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			width: 460px
	&__map
		height: 352px
		background-image: url("../img/index/map.jpg")
		background-repeat: no-repeat
		margin: 
			top: 50px
		@include media-breakpoint-up(md)
			margin: 
				top: 65px

.main-footer
	padding: 
		top: 40px
		bottom: 23px
	background-color: #fff
	display: flex
	flex-direction: column
	align-items: flex-start
	@include media-breakpoint-up(md)
		flex-direction: row
		padding: 
			top: 37px
			bottom: 37px
	&__copyright
		width: 132px
		display: flex
		color: #000000
		line-height: 26px
		margin: 
			top: 36px
			left: auto
			right: auto
		transition: all 0.15s ease
		@include media-breakpoint-up(md)
			margin: 
				top: 2px

		&:hover, &:focus
			text-decoration: none
			color: $active-color
			svg
				fill: $active-color
		&:active
			color: #b2b2b2
			svg
				fill: #b2b2b2
		&-element
			width: 105px
			margin: 
				top: 6px
				bottom: 0
		svg
			transition: all 0.15s ease
			margin: 
				top: 4px
			
	&__visit
		color: #000
		font-weight: 700
		font-size: 21px
		line-height: 26px
		margin: 
			bottom: 40px
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			margin: 
				bottom: 0
				top: 13px
	&__social
		list-style: none
		padding: 0
		margin:
			bottom: 0
			left: auto
			right: auto
		display: flex
		a
			display: block
			width: 46px
			height: 48px			
		li
			background-color: $active-color
			margin: 
				right: 6px
			transition: all 0.15s ease
			&:hover, &:focus
				background: darken($active-color, 10%)
			&:active
				background: darken($active-color, 15%)
	&__facebook
		svg
			transition: all 0.15s ease
			fill: #fff
			margin:
				left: 19px
				top: 14px
		&:active
			svg
				fill: rgba(255, 255, 255, 0.3)
	&__youtube
		svg
			transition: all 0.15s ease
			fill: #fff
			margin:
				left: 13px
				top: 17px
		&:active
			svg
				transition: all 0.15s ease
				fill: rgba(255, 255, 255, 0.3)
	&__twitter
		svg
			fill: #fff
			margin:
				left: 14px
				top: 17px
		&:active
			svg
				fill: rgba(255, 255, 255, 0.3)


// ====================== страница фотографий =======================
.container-fluid 
	padding: 
		left: 0
		right: 0

.photo-page
	background-color: #fff
	padding: 
		top: 40px
		bottom: 40px
	@include media-breakpoint-up(md)
		padding: 
			top: 75px
	@include media-breakpoint-up(xl)
		padding: 
			top: 110px
			bottom: 84px
	&__title
		color: #000000
		font-size: 18px
		line-height: 26px
		text-align: center
		width: 220px
		margin: 
			left: auto
			right: auto
			bottom: 31px
		@include media-breakpoint-up(md)
			font-size: 30px
			width: 370px	
		
	&__description
		line-height: 24px
		text-align: center
		width: 275px
		margin: 
			left: auto
			right: auto
			bottom: 28px
		@include media-breakpoint-up(md)
			width: 440px
			margin: 
				bottom: 71px
	&__video
		width: 320px
		margin: 
			left: auto
			right: auto

		@include media-breakpoint-up(md)
			padding: 
				bottom: 40px
			width: 648px
		@include media-breakpoint-up(xl)
			width: 800px
		

.photos
	position: relative
	padding: 
		left: 20px
		right: 20px
	margin: 
		bottom: 38px
	@include media-breakpoint-up(md)
		width: 648px
		margin: 
			left: auto
			right: auto
			bottom: 0
		padding: 
			left: 0
			right: 0
			bottom: 70px
	@include media-breakpoint-up(xl)
		width: 1200px
	&::before
		content: ""
		width: calc(100% + 40px)
		height: 1px
		background-color: #e5e5e5
		position: absolute
		top: 0
		left: -20px
		@include media-breakpoint-up(md)
			display: none
	&__card
		position: relative
		padding: 
			top: 23px	
		@include media-breakpoint-up(md)
			padding: 
				top: 0
			
		&::before
			content: ""
			width: calc(100% + 40px)
			height: 1px
			background-color: #e5e5e5
			position: absolute
			bottom: 0
			left: -20px
			@include media-breakpoint-up(md)
				display: none
	&__list
		position: relative
		padding:
			top: 17px
			left: 0
		width: 280px
		margin: 
			left: auto
			right: auto
			bottom: 0
		list-style: none
		@include media-breakpoint-up(md)
			width: 324px
			display: flex
			justify-content: space-between
			background-color: #f2f2f2
			padding: 
				left: 20px
			&_big
				width: 648px
		@include media-breakpoint-up(xl)
			width: 100%
			z-index: 2
			margin: 
				top: -88px
			color: #ffffff
			background-color: rgba(0, 0, 0, 0.3)

	&__title
		font-size: 14px
		line-height: 24px
		color: #000000
		margin: 
			bottom: 7px
		@include media-breakpoint-up(xl)
			color: #ffffff
	&__author
		text-transform: capitalize
		margin: 
			bottom: 10px
		@include media-breakpoint-up(md)
			margin: 
				bottom: 19px
	&__like
		display: inline-block
		cursor: pointer
		color: #000000
		font-weight: 700
		padding: 
			left: 38px
			top: 8px
			bottom: 3px
		margin: 
			bottom: 18px
		background-image: url("../img/svg/like.svg")
		background-repeat: no-repeat
		background-position: left px2
		background-size: 28px
		@include media-breakpoint-up(md)
			margin: 
				top: 11px
				right: 21px
		@include media-breakpoint-up(xl)
			background-image: url("../img/svg/like-white.svg")
			color: #ffffff
	&__wrapper
		width: 280px
		margin: 
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			width: 324px
			&_big
				width: 648px
		@include media-breakpoint-up(xl)
			width: 400px
			&_big
				width: 1200px

.video-wrapper
	z-index: 2
	position: relative
	width: 280px
	height: 111px
	margin: 
		left: auto
		right: auto
		top: -45px
	background-image: linear-gradient(to bottom, transparent 45px, #f2f2f2 45px)
	@include media-breakpoint-up(md)
		height: 92px
		width: 648px
		background-image: none
		background-color: rgba(0, 0, 0, 0.6)
		margin: 
			top: -92px
	@include media-breakpoint-up(xl)
		width: 800px
	&__line
		width: 280px
		padding: 
			top: 23px
		height: 45px
		background-color: rgba(0, 0, 0, 0.6)
		@include media-breakpoint-up(md)
			background-color: transparent
			margin: 
				top: 24px
			width: 390px
		@include media-breakpoint-up(xl)
			width: 540px
	&__scale
		position: relative
		width: 235px
		margin: 
			left: auto
			right: auto
		height: 3px
		background-color: rgba(255, 255, 255, 0.2)
		@include media-breakpoint-up(md)
			width: 390px
		@include media-breakpoint-up(xl)
			width: 540px
	&__ball
		cursor: pointer
		position: absolute
		width: 9px
		height: 9px
		border-radius: 50%
		background-color: #fff
		top: -3px
		left: 36px
	&__list
		padding: 0
		margin: 0
		list-style: none
		display: flex
		flex-wrap: wrap
	&__element
		&_replay
			cursor: pointer
			margin: 
				top: 23px
				left: 25px
			transition: all 0.15s ease
			svg
				fill: #5c6870
			&:hover
				svg
					fill: $text-color
			&:active
				svg
					fill: #c1c1c1
		&_subtitles
			cursor: pointer
			margin: 
				top: 23px
				left: 133px
			transition: all 0.15s ease
			svg
				fill: #5c6870
			&:hover
				svg
					fill: $text-color
			&:active
				svg
					fill: #c1c1c1
		&_full
			cursor: pointer
			margin: 
				top: 23px
				left: 31px
			transition: all 0.15s ease
			svg
				fill: #5c6870
			&:hover
				svg
					fill: $text-color
			&:active
				svg
					fill: #c1c1c1
		@include media-breakpoint-up(md)
			&_video
				order: 2
				margin: 
					left: 40px
			&_replay
				margin: 
					top: 35px
					left: 34px
				svg
					fill: #fff
			&_subtitles
				order: 3
				margin: 
					top: 35px
					left: 42px
				svg
					fill: #fff
			&_full
				order: 4
				margin: 
					top: 35px
					left: 30px
				svg
					fill: #fff
		
//Form html

.form-page
	background-color: #fff
	padding: 
		top: 40px
		bottom: 35px
	@include media-breakpoint-up(md)
		padding: 
			top: 72px
	@include media-breakpoint-up(xl)
		padding: 
			top: 112px
			bottom: 65px
	&__form
		@include media-breakpoint-up(md)
			display: flex
			flex-wrap: wrap
	&__container
		padding: 
			left: 20px
			right: 20px
		@include media-breakpoint-up(md)
			width: 768px
			margin: 
				left: auto
				right: auto
			padding: 
				left: 60px
				right: 60px
		@include media-breakpoint-up(xl)
			width: 1200px
			padding: 
				left: 120px
				right: 120px
	&__title
		font-size: 18px
		line-height: 26px
		width: 280px
		text-align: center
		color: #000
		margin: 
			left: auto
			right: auto
			bottom: 30px
		@include media-breakpoint-up(md)
			width: 500px
			font-size: 30px
			margin: 
				bottom: 33px
	&__description
		position: relative
		line-height: 24px
		max-width: 450px
		text-align: center
		margin: 
			left: auto
			right: auto
			bottom: 0
		padding: 
			bottom: 20px
		border-bottom: 1px solid #e5e5e5
		@include media-breakpoint-up(md)
			margin: 
				bottom: 60px
			border: none
		@include media-breakpoint-up(xl)
			margin: 
				bottom: 45px		
				
	input::placeholder
		font-weight: 700
		color: #000000
		font-size: 18px

.user
	position: relative
	padding: 
		top: 20px
		bottom: 5px
	border-bottom: 1px solid #e5e5e5
	@include media-breakpoint-up(md)
		padding:
			left: 57px 
			top: 0
			bottom: 0
		border: none
		width: 324px
		margin: 
			bottom: 52px
		border-left: 1px solid #dbdbdb
	@include media-breakpoint-up(xl)
		width: 480px
	&__list
		padding: 
			left: 0
		list-style: none
		@include media-breakpoint-up(md)
			margin: 
				bottom: 0
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		text-align: center
		margin: 
			bottom: 24px
		width: 280px
		@include media-breakpoint-up(md)
			font-size: 21px
			width: auto
			margin: 
				bottom: 60px
			text-align: left
	&__element
		display: flex
		align-items: baseline
		margin: 
			bottom: 20px
		&:last-child
			@include media-breakpoint-up(md)
				margin-bottom: 0
		input
			width: 100px
			font-weight: 700
			line-height: 26px
			font-size: 18px
			background-color: #f2f2f2
			padding: 
				top: 16px
				left: 19px
				right: 19px
				bottom: 16px
			border: none
			color: #000
			flex-grow: 1	
			transition: all 0.15s ease
		input:hover
			background-color: #e5e5e5
		input:focus
			outline: none
			background-color: #fff
			box-shadow: inset 0px 0px 0px 4px #e5e5e5
		label
			margin: 
				right: 9px


.contacts
	line-height: 26px
	padding: 
		top: 20px
		bottom: 14px
	border-bottom: 1px solid #e5e5e5
	@include media-breakpoint-up(md)
		width: 100%
		padding: 
			bottom: 29px
		border: none
	@include media-breakpoint-up(xl)
		padding: 
			bottom: 38px
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		width: 280px
		text-align: center
		margin: 
			bottom: 25px
			left: auto
			right: auto
		&::before
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					right: 60px
		&::after
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					left: 60px
		@include media-breakpoint-up(md)
			font-size: 21px
			width: auto
			display: flex
			align-items: center
		@include media-breakpoint-up(xl)
			margin: 
				bottom: 80px
	&__list
		padding: 
			left: 0 
		list-style: none
		margin: 
			bottom: 0
		@include media-breakpoint-up(xl)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
	&__element
		input
			width: 100%
			font-weight: 700
			line-height: 26px
			font-size: 18px
			padding: 
				top: 16px
				left: 19px
				right: 70px
				bottom: 16px
			margin: 
				bottom: 14px
			border: none
			color: #000
			flex-grow: 1
			@include media-breakpoint-up(md)
				margin: 
					bottom: 26px
			@include media-breakpoint-up(xl)
				width: 315px
				margin: 
					bottom: 0
		
		input:focus
			outline: none
			background-color: #fff
			box-shadow: inset 0px 0px 0px 4px #e5e5e5
		input:hover
			background-color: black
		label
			padding: 
				left: 21px
			margin: 
				bottom: 15px
			@include media-breakpoint-up(xl)
				padding: 
					left: 0
					right: 10px
				margin: 
					bottom: 0
		&-phone
			background-image: url("../img/svg/phone.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px)
			background-position: right 19px bottom 19px , 0 0
			background-size: 19px 19px, contain
			background-repeat: no-repeat
		&-email
			background-image: url("../img/svg/messege.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px)
			background-position: right 21px bottom 23px , 0 0
			background-size: 16px 12px, contain
			background-repeat: no-repeat
		&_hidden
			@include media-breakpoint-up(xl)
				display: none

.impression	
	line-height: 26px
	padding: 
		top: 20px
		bottom: 14px
	border-bottom: 1px solid #e5e5e5
	@include media-breakpoint-up(md)
		order: -1
		padding: 
			top: 0
			bottom: 0
		width: 324px
		border: none
	@include media-breakpoint-up(xl)
		width: 480px
	.radio-indicator
		position: absolute
		width: 55px
		height: 55px
		border-radius: 50%
		background-color: #f2f2f2
		top: 0
		left: 0
		cursor: pointer
	
		
	.radio-indicator::before
		opacity: 0
		content: ""
		position: absolute
		width: 21px
		height: 21px
		border-radius: 50%
		background-color: $text-color
		top: 17px
		left: 17px
		transition: all 0.2s ease
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		width: 280px
		text-align: center
		margin: 
			bottom: 30px
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			font-size: 21px
			width: auto
			margin: 
				bottom: 60px
			text-align: left
		@include media-breakpoint-up(xl)
			padding: 	
				left: 77px
	&__list
		padding: 
			left: 0
		list-style: none
		@include media-breakpoint-up(md)
			margin: 
				bottom: 0
	&__element
		position: relative
		padding: 
			left: 77px
			top: 15px
			bottom: 14px
		margin: 
			bottom: 13px
		@include media-breakpoint-up(md)
			margin: 
				bottom: 22px
			&:last-child
				margin-bottom: 0
		label
			cursor: pointer
			margin: 
				bottom: 0
			font-weight: 700
			text-transform: none
			font-size: 18px
			color: #000
			transition: all 0.15s ease
			&:hover, &:focus
				.radio-indicator
					background-color: #e5e5e5
			&:active
				.radio-indicator
					background-color: #d5d5d5
					&::before
						background-color: #a4a4a4	
		input[type="radio"]:checked + .radio-indicator::before
			opacity: 1


.attraction
	padding: 
		top: 20px
		bottom: 14px
	border-bottom: 1px solid #e5e5e5
	@include media-breakpoint-up(md)
		width: 100%
		padding: 
			bottom: 45px
		border: none
	@include media-breakpoint-up(xl)
		padding: 
			bottom: 70px
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		width: 280px
		margin: 
			bottom: 20px
			left: auto
			right: auto
		&::before
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					right: 60px
		&::after
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					left: 60px
		@include media-breakpoint-up(md)
			font-size: 21px
			width: auto
			display: flex
			align-items: center
			&-shrink
				width: 290px
				text-align: center
		@include media-breakpoint-up(xl)
			margin: 
				bottom: 50px
	&__list
		list-style: none
		padding: 
			left: 0
			margin: 
				bottom: 0
		@include media-breakpoint-up(md)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			width: 480px
			margin: 
				left: 95px
				right: 0
				bottom: 0
			@include media-breakpoint-up(xl)
				width: 100%
				margin: 
					left: 0
	&__element
		margin: 
			bottom: 24px
		&:nth-child(1)
			@include media-breakpoint-up(md)
				order: -2
		&:nth-child(3)
			@include media-breakpoint-up(md)
				order: -1
		@include media-breakpoint-up(md)
			width: 230px
		@include media-breakpoint-up(xl)
			width: auto
			margin: 
				bottom: 0
		label
			position: relative
			font-size: 18px
			line-height: 26px
			text-transform: none
			font-weight: 700
			color: #000
			padding: 
				left: 78px
				top: 15px
				bottom: 15px	
			margin: 
				bottom: 0
			cursor: pointer
			transition: all 0.15s ease
			&:hover, &:focus
				.ckecbox-indicator
					background-color: #e5e5e5
			&:active
				.ckecbox-indicator
					background-color: #d5d5d5
					&::before
						background-color: #a4a4a4	
					&::after
						background-color: #a4a4a4	
		.ckecbox-indicator
			cursor: pointer
			position: absolute
			width: 56px
			height: 56px
			background-color: #f2f2f2
			border-radius: 5px
			top: 0
			left: 0
		.ckecbox-indicator::after
			opacity: 0
			content: ""
			position: absolute
			width: 12px
			height: 4px
			background-color: #231f20
			transform: rotate(45deg)
			top: 31px
			left: 16px
			transition: all 0.2s ease
		.ckecbox-indicator::before
			opacity: 0
			content: ""
			position: absolute
			width: 20px
			height: 4px
			background-color: #231f20
			transform: rotate(-45deg)
			top: 30px
			left: 22px
			transition: all 0.2s ease
		input[type="checkbox"]:checked + .ckecbox-indicator::before
			opacity: 1
		input[type="checkbox"]:checked + .ckecbox-indicator::after
			opacity: 1

.emotion
	padding: 
		top: 20px
	@include media-breakpoint-up(md)
		padding: 
			top: 0
		width: 100%
	&__title
		font-size: 18px
		line-height: 26px
		color: #000
		text-align: center
		margin: 
			bottom: 20px 
			left: auto
			right: auto
		@include media-breakpoint-up(md)
			font-size: 21px
			display: flex
			align-items: center
			margin: 
				bottom: 60px
		&::before
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					right: 60px
		&::after
			@include media-breakpoint-up(md)
				content: ""
				flex-grow: 1
				height: 1px
				width: 20px
				background-color: #dbdbdb
				margin: 
					left: 60px
	&__textarea
		width: 100%
		height: 160px
		background-color: #f2f2f2
		border: none
		padding: 
			left: 20px
			right: 20px
			top: 22px
			bottom: 22px
		font-size: 18px
		line-height: 26px
		font-weight: 700
		color: #000000
		margin: 
			bottom: 50px
		@include media-breakpoint-up(xl)
			margin: 
				bottom: 56px
	textarea::placeholder
		font-weight: 700
		color: #000000
	&__button
		text-transform: uppercase
		border: none
		width: 100%
		@include media-breakpoint-up(md)
			width: 324px
		@include media-breakpoint-up(xl)
			width: 480px
	&__surely
		display: none
		margin: 
			bottom: 0
			top: 18px
			left: auto
		width: 196px
		text-align: right
		@include media-breakpoint-up(md)
			display: block

.popup 
	position: fixed
	width: 320px
	top: 30px
	left: 50%
	right: 0
	margin: 
		left: -160px
	background-image: linear-gradient(to top, #f2f2f2 98px, #fff 98px)
	padding: 
		top: 50px
		left: 20px
		right: 20px
		bottom: 20px
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15)
	@include media-breakpoint-up(md)
		width: 640px
		margin: 
			left: -320px
		padding: 
			top: 62px
			left: 95px
			right: 95px
			bottom: 44px
		background-image: linear-gradient(to top, #f2f2f2 145px, #fff 145px)
	&__title
		text-align: center
		font-size: 18px
		line-height: 26px
		color: #000
		margin: 
			bottom: 30px
		@include media-breakpoint-up(md)
			font-size: 30px
			margin: 
				bottom: 35px
	&__description
		width: 230px
		margin: 
			left: auto
			right: auto
			bottom: 55px
		line-height: 24px
		text-align: center
		@include media-breakpoint-up(md)
			width: 430px
			margin: 
				bottom: 80px
	&__button
		text-transform: uppercase
		width: 100%
		border: none
		min-height: 58px
	&_failure
		padding: 
			top: 46px
			bottom: 35px
		background-image: none
		background-color: #fff
		@include media-breakpoint-up(md)
			width: 400px
			padding: 
				left: 60px
				right: 60px
			margin: 
				left: -200px
		.popup__title
			@include media-breakpoint-up(md)
				line-height: 40px
				width: 250px
				margin: 
					left: auto
					right: auto
		.popup__button
			width: 178px
			margin: 
				left: auto
				right: auto
			@include media-breakpoint-up(md)
				width: 100%
		.popup__description
			margin: 
				bottom: 25px
			@include media-breakpoint-up(md)
				width: 280px
				margin: 
					bottom: 35px
					left: auto
					right: auto

.success
	&_open
		display: block
	&_close
		display: none

.failure
	&_open
		display: block
	&_close
		display: none